# Visual Studio 2015 cache/options directory
.vs/
.vscode/
*.log
*.tlog
*.idb
*.ilk
*.pdb
engine/lib/debug/obj/*.obj
engine/lib/release/obj/*.obj
engine/tools/shader_cpp_generator/*.obj
editor/bin/debug/obj/*.obj
editor/bin/release/obj/*.obj
external/imgui/lib/debug/obj/*.obj
external/imgui/lib/release/obj/*.obj
external/imguizmo/lib/debug/obj/*.obj
external/imguizmo/lib/release/obj/*.obj
external/efsw/lib/debug/obj/*.obj
external/efsw/lib/release/obj/*.obj
external/yaml-cpp/lib/debug/obj/*.obj
external/yaml-cpp/lib/release/obj/*.obj